
@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */



// home_page


          html, body {
            height: 100%;
            margin: 0;
          }
          
          .home_box {
            text-align: center;
            background-color: red;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          

